include ../mixins/flash-messages
include ../mixins/auth/auth-forms

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || site.brand

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href="/styles/site.min.css", rel="stylesheet")

    block css
    block head
  body(class=section)
    .container-fluid
      header
        .row
          .col-xs-12.col-sm-6
            a(href="/" title="Cadence Home")
              img(src="" alt="Cadence Logo")
        //- div(role="navigation").navbar.navbar-default
        //-   .container-fluid
        //-     .navbar-header
        //-       button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        //-         span.sr-only Toggle navigation
        //-         span.icon-bar
        //-         span.icon-bar
        //-         span.icon-bar
        //-       a.navbar-brand(href='/')=site.brand
        //-     .collapse.navbar-collapse
        //-       ul.nav.navbar-nav.navbar-left
        //-         each link in navLinks
        //-           li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
        //-       ul.nav.navbar-nav.navbar-right
        //-         if user
        //-           if user.canAccessKeystone
        //-             li: a(href='/keystone') Open Keystone
        //-           li: a(href='/me').user.hidden-xs
        //-             img(src=(user.avatarUrl || '/images/avatar.png'), width=27).img-circle
        //-             =' ' +user.name.first
        //-           li: a(href='/signout')
        //-             span.visible-xs Sign out
        //-             span.entypo.entypo-large.entypo-logout.hidden-xs
        //-         else
        //-           li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in

    .container-fluid
      main
        .row
          .col-xs-12.col-sm-3
            nav.side-navigation
              ul
                each item, index in navLinks
                  if item.type == 'link'
                    li.navigation-section(class='navigation-'+item.key+' '+(section == item.key ? 'active' : ''))
                      a(href=item.href title=item.label)= item.label
                        .navigation-icon
                          .entypo.entypo-phone
                  if item.type == 'navigation'
                    li.navigation-section.navigation-section-title(class='navigation-'+item.key+' '+"icon-"+item.key )
                      span=item.label
                        .navigation-icon
                          .entypo.entypo-phone
                  if item.type == 'sub-link'
                    li.navigation-sublink(class='navigation-'+item.key+' '+(section == item.key ? 'active' : ''))
                      a(href=item.href title=item.label)= item.label
          .col-xs-12.col-sm-9
            block content
  
    .container-fluid
      footer
        p &copy; Team Novo Nordisk | 
          a(href="/privacy" title="Privacy Policy") Privacy Policy
        ul
          each link in footerLinks
            if link.type == 'social'
              li: a(href=link.href title=link.label)= link.label

    if !user
      #modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
        .modal-dialog
          .modal-content
            +auth-forms({ modal: true, initial: 'signin' })

    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')

    //- TODO Put this in a block JS section for the pages its needed on.
    //- script(src='/js/ui.js')

    include shared/analytics

    block js