mixin social-graph(type, options, columns)

  if type == 'reach'
    .col-xs-12.col-md-12.col-lg-12.content-block
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.reach)
          =sectionTitles.reach
        section.novo-graph.novo-line-graph.reach#reach(data-admin-options=options)

  if type == 'engagement'
    .col-xs-12.col-md-12.col-lg-12.content-block
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.engagement)
          =sectionTitles.engagement
        section.novo-graph.novo-line-graph.engagement#engagement(data-admin-options=options)

  if type == 'acquisition'
    .col-xs-12.col-md-12.col-lg-12.content-block
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.acquisition)
          =sectionTitles.acquisition
        section.novo-graph.novo-line-graph.acquisition#acquisition(data-admin-options=options)

  if type == 'topCountries'
    - var largeColumn = 'col-lg-6 equal-height-block-2'
    if columns == 'full-width'
      - largeColumn = 'col-lg-12 donut-full-width'
    .col-xs-12.col-md-12.content-block.donut-block(class=largeColumn)
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.topCountries)
          =sectionTitles.topCountries
        section.novo-graph.novo-donut-graph.reach#topCountries(data-admin-options=options)
