extends ../../layouts/default


block content
  .row.content-row
    .col-xs-12
      h1.view-title User Management
  .row.content-row
    .col-xs-12.col-md-12.col-lg-6.session-block
      .session-content
        h4.session-title Hi #{user.name.first}, these are your settings.
        
        //- p #{credentials}  
        form(method='post', autocomplete='off', novalidate).session-form
          input(type='hidden', name='action', value='profile.details')
          input(type='hidden', name=csrf_token_key, value=csrf_token_value)
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label(for='firstName') First Name
            input(id='firstName' type='text', name='name.first', value=user.name.first, placeholder='First Name').form-control
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label(for='lastName') Last Name
            input(id='lastName' type='text', name='name.last', value=user.name.last, placeholder='Last Name').form-control
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label(for='email') Email
            input(id='email' type='email', name='email', value=user.email, placeholder='Email').form-control
          .form-group
            label(for='keywords') Keywords
            textarea(id='keywords' name='notifications.keywords', rows=3, placeholder='comma, separated, list, of, keywords').form-control=user.notifications.keywords
          
          .form-group
            label.sr-only Twitter
            if !user.services.twitter.isConfigured
              a(href='/auth/twitter', title='Connect your Twitter account').btn.btn-social-connect.btn-twitter
                span.connection-icon.entypo-social.entypo-twitter
                span.connection-text Connect your Twitter account
            if user.services.twitter.isConfigured
              .social-connect
                span.connection-icon.entypo-social.entypo-twitter
                span.connection-text Your account is connected.
              a(href='?disconnect=twitter', title='Revoke authorization of your Twitter account').btn.btn-social-connect.btn-twitter
                span.connection-text Disconnect

          .form-group
            label.sr-only Facebook
            if !user.services.facebook.isConfigured
              a(href='/auth/facebook', title='Connect your Facebook account').btn.btn-social-connect.btn-facebook
                span.connection-icon.entypo-social.entypo-facebook
                span.connection-text Connect your Facebook account
            if user.services.facebook.isConfigured
              .social-connect
                span.connection-icon.entypo-social.entypo-facebook
                span.connection-text Your account is connected.
              a(href='?disconnect=facebook', title='Revoke authorization of your Facebook account').btn.btn-social-connect.btn-facebook
                span.connection-text Disconnect

          .form-group
            label.sr-only Google    
            if !user.services.google.isConfigured
              a(href='/auth/google', title='Connect your Google account').btn.btn-social-connect.btn-google
                span.connection-icon.entypo-social.entypo-google-circles
                span.connection-text Connect your Google account
            if user.services.google.isConfigured
              .social-connect
                span.connection-icon.entypo-social.entypo-google-circles
                span.connection-text Your account is connected.
              a(href='?disconnect=google' title='Revoke authorization of your Google account').btn.btn-social-connect.btn-google
                span.connection-text Disconnect

          .form-actions
            button(type='submit', data-loading-text="Saving...").btn.btn-default.btn-large Save Profile

    .col-xs-12.col-md-12.col-lg-6.session-block
      .session-content
        h4.session-title Change Password
        form(method='post', autocomplete='off').session-form

          section(data-element-reveal-id="change-password-show").element-reveal.active
            button(type='button' data-element-reveal-show="change-password" data-element-reveal-hide="change-password-show").btn.btn-default.btn-large.element-reveal-link Change Password
          
          section(data-element-reveal-id="change-password").element-reveal
            input(type='hidden', name='action', value='profile.password')
            input(type='hidden', name=csrf_token_key, value=csrf_token_value)
            .form-group
              label(for='change-passwordNew') New Password
              input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
            .form-group
              label(for='change-passwordConfirm') Confirm Password
              input(type='password', name='password_confirm', placeholder='Confirm Password', id='signin-passwordConfirm').form-control
            .form-group
              button(type='submit', data-loading-text="Changing...").btn.btn-default.btn-large Change
      






