extends ../../layouts/default


block content
  .row.content-row
    .col-xs-12
      h1.view-title User Management
  .row.content-row
    .col-xs-12.col-md-12.col-lg-6.session-block
      .session-content
        h4.session-title Hi #{user.name.first}, these are your settings.
        
        if(flashForm == 'profile.details')
          +flash-messages(messages)
        form(method='post', autocomplete='off', novalidate).session-form
          input(type='hidden', name='action', value='profile.details')
          input(type='hidden', name=csrf_token_key, value=csrf_token_value)
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label(for='firstName') First Name
            input(id='firstName' type='text', name='name.first', value=user.name.first, placeholder='First Name').form-control
            span.error-message Enter your First Name
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label(for='lastName') Last Name
            input(id='lastName' type='text', name='name.last', value=user.name.last, placeholder='Last Name').form-control
            span.error-message Enter your Last Name
          .form-group(class=validationErrors.email ? 'has-error' : null).never-error
            label(for='email') Email
            input(id='email' type='email', name='email', value=user.email, placeholder='Email' disabled="disabled").form-control
          
          if user.isAccountRoot

            .form-group
              label(for='keywords') Keywords
              textarea(id='keywords' name='keywords', rows=3, placeholder='comma, separated, list, of, keywords').form-control=user.keywords
            
            .form-group
              label.sr-only Twitter
              if !user.services.twitter.isConfigured
                a(href='/auth/twitter', title='Connect your Twitter account').btn.btn-social-connect.btn-twitter
                  span.connection-icon.entypo-social.entypo-twitter
                  span.connection-text Connect your Twitter account
              if user.services.twitter.isConfigured
                .social-connect
                  span.connection-icon.entypo-social.entypo-twitter
                  span.connection-text Your account is connected.
                a(href='?disconnect=twitter', title='Revoke authorization of your Twitter account').btn.btn-social-connect.btn-twitter
                  span.connection-text Disconnect

              .form-group
                label.sr-only Facebook
                if !user.services.facebook.isConfigured
                  a(href='/auth/facebook', title='Connect your Facebook account').btn.btn-social-connect.btn-facebook
                    span.connection-icon.entypo-social.entypo-facebook
                    span.connection-text Connect your Facebook account
                if user.services.facebook.isConfigured
                  .social-connect
                    span.connection-icon.entypo-social.entypo-facebook
                    span.connection-text Your account is connected.
                  a(href='?disconnect=facebook', title='Revoke authorization of your Facebook account').btn.btn-social-connect.btn-facebook
                    span.connection-text Disconnect

              .form-group
                label.sr-only Instagram
                if !user.services.instagram.isConfigured
                  a(href='/auth/instagram', title='Connect your Instagram account').btn.btn-social-connect.btn-instagram
                    span.connection-icon.entypo-social.entypo-instagram
                    span.connection-text Connect your Instagram account
                if user.services.instagram.isConfigured
                  .social-connect
                    span.connection-icon.entypo-social.entypo-instagram
                    span.connection-text Your account is connected.
                  a(href='?disconnect=instagram', title='Revoke authorization of your Instagram account').btn.btn-social-connect.btn-instagram
                    span.connection-text Disconnect

              .form-group
                label.sr-only Google    
                if !user.services.google.isConfigured
                  a(href='/auth/google', title='Connect your Google account').btn.btn-social-connect.btn-google
                    span.connection-icon.entypo-social.entypo-google-circles
                    span.connection-text Connect your Google account
                if user.services.google.isConfigured
                  .social-connect
                    span.connection-icon.entypo-social.entypo-google-circles
                    span.connection-text Your account is connected.
                  a(href='?disconnect=google' title='Revoke authorization of your Google account').btn.btn-social-connect.btn-google
                    span.connection-text Disconnect
                    
              //- .form-group
              //-   label.sr-only Youtube    
              //-   if !user.services.youtube.isConfigured
              //-     a(href='/auth/youtube', title='Connect your Youtube account').btn.btn-social-connect.btn-youtube
              //-       span.connection-icon.entypo-social-new.entypo-youtube
              //-       span.connection-text Connect your Youtube account
              //-   if user.services.youtube.isConfigured
              //-     .social-connect
              //-       span.connection-icon.entypo-social-new.entypo-youtube
              //-       span.connection-text Your account is connected.
              //-     a(href='?disconnect=youtube' title='Revoke authorization of your youtube account').btn.btn-social-connect.btn-youtube
              //-       span.connection-text Disconnect

          .form-actions
            button(type='submit', data-loading-text="Saving...").btn.btn-default.btn-large Save Profile

    .col-xs-12.col-md-12.col-lg-6.session-block
      .session-content
        h4.session-title Change Password
        if(flashForm == 'profile.password')
          +flash-messages(messages)
        form(method='post', autocomplete='off').session-form

          section(data-element-reveal-id="change-password-show").element-reveal.active
            button(type='button' data-element-reveal-show="change-password" data-element-reveal-hide="change-password-show").btn.btn-default.btn-large.element-reveal-link Change Password
          
          section(data-element-reveal-id="change-password").element-reveal
            input(type='hidden', name='action', value='profile.password')
            input(type='hidden', name=csrf_token_key, value=csrf_token_value)
            .form-group
              label(for='change-passwordNew') New Password
              input(type='password', name='password', placeholder='New Password', id='change-passwordNew').form-control
              span.error-message Enter your New Password
            .form-group.clearfix
              label(for='change-passwordConfirm') Confirm Password
              input(type='password', name='password_confirm', placeholder='Confirm Password', id='change-passwordConfirm').form-control
              span.error-message Confirm your New Password
            .form-group
              button(type='submit', data-loading-text="Changing...").btn.btn-default.btn-large Change
