mixin form-signin(args)
  .auth-box.modal-pane-signin(class=args.modal && args.initial != 'signin' ? 'hidden' : null)
    if args.modal
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title='Sign into ' + site.brand
    div(class=args.modal ? 'modal-body' : null)
      form(method='post', action='signin', role='signin', novalidate).session-form
        input(type='hidden', name='action', value='signin')
        input(type='hidden', name='target', value=!args.modal ? form.target : page.path)
        .form-group
          label(for='signin-email') Email
          input(type='email', name='email', placeholder='Email', id='signin-email', value=locals.form ? locals.form.email : null).form-control.form-control--first
          span.error-message Enter your Email
        .form-group
          label(for='signin-password') Password
          input(type='password', name='password', placeholder='Password', id='signin-password', value='').form-control.form-control--last
          span.error-message Enter your Password
        .form-group
          label.sr-only Forgot Password
          a(href=args.modal ? js : '/forgot-password', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'password' : null)
            span.forgot-password Forgot Password?
        button(type='submit').btn.btn-default.btn-large.btn-submit Sign In

      //-.row.text-muted.mt-3
      //-  .col-sm-12.text-right
      //-    a(href=args.modal ? js : '/forgot-password', rel=args.modal ? 'modal-pane' : null, data-modal-pane=args.modal ? 'password' : null) Forgot password?
